@model BookCategory

@{
    ViewData["Title"] = "删除分类";
}

<h1>删除分类</h1>

<h4>分类</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>您确定要删除此分类吗？</h3>
        <dl class="row">
            <dt class="col-sm-2">
                分类名称
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="删除" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">取消</a>
        </form>
    </div>
</div>
